<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/join-style.css}">
    <title>Title</title>
</head>
<body>
<div class="join-container">
<form th:action="@{/updatepassword}" th:object="${passwordUpdate}" method="post">
    <input type="hidden" th:name="email" th:id="email" th:value="${email}">
    <div class="mb-3">
        <label for="password1" class="form-label">New Password</label>
        <input type="password" th:field="*{password1}" class="form-control">
    </div>
    <div class="mb-3">
        <label for="password2" class="form-label">Confirm Password</label>
        <input type="password" th:field="*{password2}" class="form-control">
    </div>
    <div class="submit-container">
        <input type="submit" id="submitBtn" class="btn btn-primary" value="변 경">
    </div>
</div>
</form>
</body>
</html>