<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Verify Email</title>
</head>
<body>
<h1>Verify Email</h1>
<form th:action="@{/verify}" method="post">
    <div>
        <label for="code">Verification Code:</label>
        <input type="text" id="code" name="code" required />
    </div>
    <button type="submit">Verify</button>
</form>
<form th:action="@{/resend-activation-email}" method="post">
    <input type="hidden" th:name="email" th:id="email" th:value="${param.email}">
    <button type="submit">인증코드 재발송</button>
</form>

<!-- Optional Message Section -->
<div class="message" th:if="${message}" th:text="${message}"></div>
<div class="message" th:if="${error}" th:text="${error}"></div>
</body>
</html>
